language: php
sudo: required

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 7.1

env:
  global:
    - TEST_COMMAND="vendor/bin/phpunit --coverage-clover coverage.xml"

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer install -o ${COMPOSER_FLAGS} --prefer-source --no-interaction

script:
  - $TEST_COMMAND
  
  after_success:
    - bash <(curl -s https://codecov.io/bash)
